In [8]:
#DATA TYPES

#INTEGER
a=5
print(a)

#float
b=10.2
print(b)

#complex
c=3+4j
print(c)

#STRING
d="Maverick"
print(d)


print(a,b,c,d)

print(type(a),type(b),type(c),type(d))

5
10.2
(3+4j)
Maverick
5 10.2 (3+4j) Maverick
<class 'int'> <class 'float'> <class 'complex'> <class 'str'>

In [3]:
#COMMENT

''' ThIS IS A MULTI LINE COMMENT '''
print("Hi")

Hi

In [1]:
#Arithmetic operators

#PEMDAS Rule

x=10
y=20

#addition
print(x+y)

#subtraction
print(x-y)

#multiplication
print(x*y)

#division
print(x/y)

#floor division-remove decimal, give round figure value
print(x//y)

#modulus-remainder
print(x%y)

#exponental-calculate power
print(x**y)

30
-10
200
0.5
0
10
100000000000000000000

In [4]:
#Compareson Operators

#Boolean Value

x=5
y=9

print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

In [1]:
#Logical Operators (for multiple conditions)

#boolean value

"""
AND - all conditions must be true
OR  - at least one condition must be true
NOT - single operand - reverse the value
"""
age=20
is_student=True
print(age>18 and is_student)
print(age>25 or is_student)
print(not is_student)

True
True
False

In [2]:
a=10
b=20

print(a>5 and b>10)
print(a<1 or b==20)
print(not (a==10))

True
True
False

In [8]:
#Assignment Operator

"""
=
+=
-=
*=
"""
x=10
x+=5
print(x)

x-=5
print(x)

x*=5
print(x)

15
10
50

In [10]:
#Identity Operator

#comapre memmory locations of two obejects, not the data store
"""
is-True
is not-True
"""
a=[1,2,3]
b=a
c=[1,2,3]

print(a is b)
print(a is c)

True
False

In [17]:
#Membership Oprtator

#used to check if a value exist in a sequence or NOT
"""
in-True
not in-True
"""
fruits=['apple', 'banana', 'mangoe']
print('apple'in fruits)
print('peach' in fruits)

True
False

In [3]:
#Control Statements

# Problem (Area of Circle)
pie=3.147
radius=float(input("Enter radius="))
area_of_circle=pie*radius*radius
print(f"Area of Circle:{area_of_circle}")

Enter radius= 4

Area of Circle:50.352

In [5]:
#Control Statments

"""
conditional- if, elif, else
for while else suite
nested
infinite loop
pass
continue
break
assert return
"""

'\nconditional- if, elif, else\nfor while else suite\nnested\ninfinite loop\npass\ncontinue\nbreak\nassert return\n'

In [14]:
#Conditional statement

age=int(input("enter your age ="))
if(age>=18 and age<=100):
    print("You can vote")
elif age>100:
    print("Greater than 100")
elif age<=0:
    print("Invalid age")
else:
    print("Error Occurred")

enter your age = 23

You can vote

In [19]:
# Simple Calculator Project

num_1=float(input("enter number 1 = "))
num_2=float(input("enter number 2 = "))

choice= input("Enter your choice + - * / ")

if choice== "+" :
    print(f"Addition:{num_1 + num_2}")
elif choice=="-":
    print(f"Subtraction:{num_1 - num_2}")
elif choice=="*":
    print(f"Multiplication:{num_1 * num_2}")
elif choice=="/":
    print(f"Division:{num_1 / num_2}")
else:
    print("Invalid Choice")

enter number 1 =  12
enter number 2 =  3
Enter your choice + - * /  /

Division:4.0

In [16]:
x=5
if x==4:
    print("true")
else:
    print("false")

false

In [ ]:
#Multiple times repeat

"""
1- while loop (repeats until the condition is met)
2- for loop ( repeats for a specific time)
"""

In [ ]:
#While loop

In [2]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [3]:
#For loop

""" 
is used for ittration over sequence
List tuple dictionary string , for variable in sequence:
"""
a= [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [8]:
#Range

"""
range(start, stop , step)
start-1
stop-101 , excluded
step-1
tuple, list etc
"""
a= list(range(1,101,1))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [5]:
#Nested loop

for i in range(1,3):
    
       for j in range(3,6):
           print(f"{i},{j}")
    

     
     
# """
# i=1
# j=3,j=4,j=5

# i=1
# j=3

# 1,4
# 1,5

# i=2

# 2,3
# 2,4
# 2,5
# """

1,3
1,4
1,5
2,3
2,4
2,5

In [8]:
#Break Statement

for num in range(1,10,1):
    if num==5:
        break
    print(num)

1
2
3
4

In [9]:
#Continue statement

for num in range (1,5):
    if num==3:
        continue #Skip
    print(num)

1
2
4

In [10]:
#Pass Statment

for num in range(1,10):
    if num==4:
        pass
    print(num)

1
2
3
4
5
6
7
8
9

In [13]:
#Even Number

for i in range(1,11):
    if i%2==0:
        print("even" ,i)
        
#Odd Number
    
    else:
        print("odd",i)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10

In [14]:
start=int(input('enter start ='))
stop=int(input('enter stop ='))

skip=int(input('number you want to skip ='))
for i in range(start , stop):
    if i==skip:
       continue
    print(i)

enter start = 1
enter stop = 20
number you want to skip = 9

1
2
3
4
5
6
7
8
10
11
12
13
14
15
16
17
18
19

In [17]:
#Strings

name='Ibad'

name_2="python"
name_3='''
this is a multi line string
'''
#space is also a string

name_4="""this is a multi line string """
print(name , name_2 , name_3 , name_4)

Ibad python
this is a multi line string
 this is a multi line string

In [20]:
#Indexing

a="python"
print(a[0]) #positive indexing (left to right- start from 0)

print(a[-1]) #negative indexing(right to left - start from -1)

p
n

In [21]:
#iterable

language="python"
for i in language:
    print(i)

p
y
t
h
o
n

In [24]:
#operations on string

#length of a string

str="python"
print(len(str))

a="python is easy" #spaces are also string
print(len(a))

b="PythonIsEasy"
print(len(b))

6
14
12

In [31]:
password=(input("enter your password ="))
if len(password)>=5:
    print ('login successfull')
else:
    print('length is too short or <5')

enter your password = ibad

length is too short or <5

In [2]:
#Slicing
"""
string[start:stop:step]
"""
text="This is python"
print(text[1:15:2])

hsi yhn

In [4]:
#Concatenation

name="Ibad"
sur_name="Malik"
print("hi",name+sur_name)   #string can be only cancatenate with string

hi IbadMalik

In [13]:
#Methods

#lower()

str='PYTHON IS EASY'
print(str.lower())


str=input('Enter Your Name').lower()
print(str)

python is easy

Enter Your Name IBAD

ibad

In [3]:
#upper

str1='python is easy'
print(str1.upper())

str=input('Enter Your Name').upper()
print(str)

PYTHON IS EASY

Enter Your Name maverick

MAVERICK

In [6]:
#Capitalize

str=input('Enter Your Name').capitalize() 
#It capitalizes the first letter of a word
print(str)

Enter Your Name ibad

Ibad

In [8]:
#Title

str=input('Enter a Sentence').title()
#it capitalizes the first letters of all the words in a sentence
print(str)

Enter a Sentence python is greate

Python Is Greate

In [10]:
#Swap case

#it reverse upper case into lower and lower into upper case
str=input('enter a word').swapcase()
print(str)

enter a word aBCdEfGHijKL

AbcDeFghIJkl

In [15]:
#Searching and Replaceing Methods

#Find

text="Python Programming"
#it gives the index number of that letter that comes first
print(text.find('g'))

10

In [22]:
#Replace

text="Python Programming"
print(text.replace("Python","Java"))

Java Programming

In [32]:
#Splitting

str="maverick, khan , gull"
 #we splitted it on the basis of comma, (it return a list)
s=str.split(',')
print(s)


#Joining

result=",".join(s)
#It joins on the basis of comma and converted a list back to a string
print(result)

['maverick', ' khan ', ' gull']
maverick, khan , gull

In [39]:
#Checking Methods

#starts-with (tells if a string start with that letter)

str="Python"
print(str.startswith('P'))


#ends-with (tells if a string ends with that letter

print(str.endswith('n')) 



#is-alpha (tells if all the letters are alphabatic)

print(str.isalpha())


#is-digit (tells if all the letter are digits)

print(str.isdigit())


#is-alnum (tells if it have both numeric and alphabatic values)

str1='123Python'
print(str1.isalnum())


#All of these methods returns a boolean value (either True or False)

True
True
True
False
True

In [42]:
#Data Structures


#List

"""
1-Ordered
2-mutable
3-dynamic
4-heterogenious
"""
#ways to create list

#1-square brackets
my_list=[1,2,3,4,'a','b','c']
print(my_list)

#2-using list constuctor
my_list=list(("Hello",1,3,8,9,"Python"))
print(my_list)

[1, 2, 3, 4, 'a', 'b', 'c']
['Hello', 1, 3, 8, 9, 'Python']

In [48]:
"""
How to access values of a list, and how to upadate values
"""
#access by indexing
lst=[1,2,3,4]
print(lst[0])

#upadting values
lst[2]="hello world"
print(lst)

#If we have to update more than 1 value

lst[0:3]=10,'a','c',40
print(lst)


#Concatination

lst_1=[1,2,3,4,5]
lst_2=[6,7,8,9,10]
result=lst_1+lst_2
print(result)

#Repeatetion

lst_3=[7,8,9,'hi','hello']
print(lst_3*4)

1
[1, 2, 'hello world', 4]
[10, 'a', 'c', 40, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[7, 8, 9, 'hi', 'hello', 7, 8, 9, 'hi', 'hello', 7, 8, 9, 'hi', 'hello', 7, 8, 9, 'hi', 'hello']

In [52]:
#Membership
"""
in-True/False
not in -Opposite
"""
lst_1=[1,2,3,4,5,6,7,8]
check=int(input('enter a number to check= '))

if check in lst_1:
    print('found')
else:
    print('Not Found')

enter a number to check=  5

found

In [55]:
#alias

list_1=[1,2,3]
list_2=list_1
print(list_2)

#now if we have to change any value in lsit_2 it will also change in list_1

list_2[1]=200
print(list_1 , list_2)

#to solve this we will use copy method
#Copy

list_3=[1,2,3]
list_4=list_3.copy()
list_4[0]=100
print(list_3 , list_4)

[1, 2, 3]
[1, 200, 3] [1, 200, 3]
[1, 2, 3] [100, 2, 3]

In [77]:
#Operations on list

#Append
a=[1,2,3]
a.append(4) #(it will add a value at the end)
print(a)

#Extend
a=[1,2,3]
b=[7,8,9]
a.extend(b) # it will add the values of b after a
print(a)

#insert
a=[1,2,3]
a.insert(0 ,'Hey Coders') # it will not remove or delete anything it will just insert a new value at that index
print(a)

#remove
a=['Hey Coders', 1, 2, 3]
a.remove('Hey Coders') # it removes the given value
print(a)

#pop
a=['Hey Coders', 1, 2, 3]
popped=a.pop(1)   # it removes the value by giving its index number
print(popped)
print(a)

#clear
a=['Hey Coders', 1, 2, 3]
a.clear() # it will delete all the values and return an empty list
print(a)

#index
a=['Hey Coders', 1, 2, 3, 'a', 'b',10,12]
index=a.index(10)  # it will give us index number of of the value we pass
print(index)

#Count
a=['Hey Coders', 1, 2, 3, 'a', 'b',10,12 , 2, 1 , 1 ,2,4,1]
count=a.count(1)  #it tells the number of repitition for a value
print(count)

#Sort
a=[22, 13 , 14, 1,  8 , 7 ,2, 3,5 , 9,10,12 , 1 , 2]
a.sort() # sort values in to order
print(a)

#Reverse
a=[22, 13 , 14, 1,  8 , 7 ,2, 3,5 , 9,10,12 , 1 , 2]
a.reverse() # sort in reverse order
print(a)

[1, 2, 3, 4]
[1, 2, 3, 7, 8, 9]
['Hey Coders', 1, 2, 3]
[1, 2, 3]
1
['Hey Coders', 2, 3]
[]
6
4
[1, 1, 2, 2, 3, 5, 7, 8, 9, 10, 12, 13, 14, 22]
[22, 14, 13, 12, 10, 9, 8, 7, 5, 3, 2, 2, 1, 1]

In [1]:
#Funtions

#minimum and maximum

a=[1,2,3,-10,200,-5,100,0]

print(min(a))
print(max(a))

-10
200

In [5]:
#Common (Intersection)
a=[1,2,3]
b=[3,5,6]

#convert into set
s1=set(a)
s2=set(b)

s3=s1.intersection(s2)
print(list(s3))

[3]

In [6]:
#Nested list
a=[1,2,3]
b=[4,5,6,a,[7,8,9]]
print(b)

[4, 5, 6, [1, 2, 3], [7, 8, 9]]

In [8]:
#Tuple

"""
1-imputable
2-heterogenious
3-tuple()
"""
a=(10,2,30)
print(type(a))

<class 'tuple'>

In [ ]:
#Methods in Tuple
"""
len()
min , max
count()
index()
sorted()
slicing
"""
#Values can not be changed

In [ ]:
#Dictionary

"""
1-pair --> key:value
{}
2-unordered before 3.7 version , but now it ordered
3-mutable
4-dynamic
"""

In [18]:
def my_name():
    print("I am maverick")
my_name()

I am maverick

In [ ]:
district_name=input("enter your district name")
def district(a):
    if a=='Mardan':
        print("eligeble")
    elif a=="Peshawar":
        print("eligeble")
    elif a=="Swabi":
        print("eligeble")
    elif a=="Swat":
        print("eligeble")
    else: 
        print("not eligeble")
district(district_name)

In [9]:
my_name()

I am maverick

In [10]:
def sum(a,b,c)